@media only screen and (max-width: 700px){
    .link{
        width: 100%;
        display: block;
    }
    #menu{
        position: absolute;
        top: -330px;
    }
    .hamburger{
        display: block;
        z-index: 1;
    }
    .toggler{
        display: block;
        position: absolute;
        top: 17px;
        left: 10px;
        width: 30px;
        height: 19px;
        z-index: 2;
        opacity: 0;
        cursor: pointer;
    }
    .toggler:checked + .hamburger > span{
        transform: rotate(135deg);
    }
    .toggler:checked + .hamburger > .first,
    .toggler:checked + .hamburger > .third{
        position: absolute;
        top: 0;
        transform: rotate(225deg);
    }
    .toggler:checked:hover + .hamburger > span{
        transform: rotate(720deg);
    }
    .toggler:checked ~ #menu{
        transform: translateY(390px);
        background-color: #2f618a;
        border-bottom: 1px solid #f1f1f1;
    }
    .contact-links{
        margin: 0 70px 30px 70px;
        opacity: 1;
        animation: none;
    }
    .job{
        animation: Pop 1s ease-in-out;
    }
    a.button{
        animation: none;
    }
    .git, .linkedin, .twitter{
        font-size: 1.3em;
        
    }
    .item{
        width: 100%;
    }
    .timeline > li {
        margin-bottom: 80px;
    }
    .container-portfolio{
        flex-wrap: wrap;
    }
    .item-portfolio{
        width: 100%;
    }
}