*, ::before, ::after{
    margin: 0; padding: 0;
    box-sizing: border-box;
}
html {
scroll-behavior: smooth;
overflow-x: hidden;
}
body{
    /* width: 100%;
    height: 100%; */
    background-color: #2f618a;
    text-align: center;
}
ul, ol, li{
    list-style: none;
}
.blue-separator{
    width: 150px;
    height: 3px;
    background-color: #2f618a;
    margin: 0 auto;
}
.white-separator{
    width: 150px;
    height: 3px;
    background-color: #f1f1f1;
    margin: 0 auto;
}
a{
    text-decoration: none;
    color: #f1f1f1;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
}
header{
    height: 100vh;
    padding-top: 80px;
}

.name{
    font-family: 'Lato', sans-serif;
    color: #f1f1f1;
    text-transform: uppercase;
    letter-spacing: 2px;
    word-spacing: 5px;
}
.job{
    font-style: italic;
    font-family: 'Lato', sans-serif;
    margin: 50px 0 80px 0;
}
.contact-links{
    margin: 70px 0;
    font-size: 30px;
}
.git, .linkedin, .twitter{
    margin: 10px;
    transition: all 0.4s ease-in-out;
}
.git:hover, .linkedin:hover, .twitter:hover{
    font-size: 38px;
}
.button{
    background-color: #2f618a;
    border: 1px solid #f1f1f1;
    border-radius: 5px;
    padding: 20px 20px;
    transition: all 0.4s ease-in-out;
}
.button:hover{
    background-color: #f1f1f1;
    color: #2f618a;
}
.navbar{
    position: sticky;
    top: 0;
    background-color: #2f618a;
    height: 60px;
    border-bottom: 1px solid #f1f1f1;
    width: 100%;
    z-index: 3;
}
#menu{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
    margin: auto;
}
.link{
    /* height: 60px;
    width: 800px; */
    transition: all 0.4s ease-in-out;
    
}
.link a{
    display: block;
    width: 200px;
    padding: 20px 0;
}
.link:hover{
    background-color: #f1f1f1;
    cursor: pointer;
}
.link:hover a{
    color: #2f618a;
}

#skills{
    background-color: #f1f1f1;

    padding: 60px;
}
h1.competences{
    color: #2f618a;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
    margin: 30px 0 150px 0;
    font-size: 30px;
}
.skillsprogress{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.progressbar{
    width: 430px;
    height: 50px;
    background-color: lightgrey;
    border-radius: 3px;
    margin: 30px;
}
.progress{
    height: 50px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    font-family: 'Lato', sans-serif;
    color: #f1f1f1;
    padding: 13px 0;
    text-shadow: 1px 1px 1px #000000;
}
.s-blue{
    
    background-color: #2f618a;
}

#experience{
    height: 100%;
    background-color: #2f618a;
    padding: 60px;
}
h1.exp{
    color: #f1f1f1;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
    margin: 30px 0 100px 0;
    font-size: 30px;
}
.timeline > li{
    margin-bottom: 50px;
    height: 200px;
}
.line-timeline{
    height: 1000px;
    width: 5px;
    position: absolute;
    left: 50%;
    background-color: #000000;
    margin: 0 auto;
}
.badge{
    width: 50px;
    height: 50px;
    background-color: #cccccc;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    margin-left: -22px;
    padding-top: 15px;
}
.badge i{
    font-size: 20px;
}
.timeline-panel-container{
    float: left;
    width: 35%;
    height: 200px;
    background-color: #cccccc;
    border-radius: 7px;
    padding: 7px;
    font-family: 'Lato', sans-serif;
}
.timeline-panel-container-rev{
    float: right;
    width: 35%;
    height: 200px;
    background-color: #cccccc;
    border-radius: 7px;
    padding: 7px;
    font-family: 'Lato', sans-serif;
}
.timeline-panel{
    height: 185px;
}
h3{
    margin-bottom: 5px;
}
.time{
    color: #777777;
    margin-bottom: 7px;
}
.timeline-body{
    margin-top: 40px;
    font-size: 16px;
}
#education{
    background-color: #f1f1f1;
    padding: 60px;
}

h1.formation{
    color: #2f618a;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    margin: 30px 0 100px 0;
    font-size: 30px;
}
.container{
    font-family: 'Lato', sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.item{
    width: 40%;
    padding: 30px;
    margin-bottom: 40px;
    background-color: #c3c3c3;
    border-radius: 6px;
    border: 2px solid #b3b3b3;
}
.item-block h5{
    font-size: 15px;
    color: #777777;
    margin-bottom: 20px;
}
.item-block i{
    font-size: 30px;
    margin-bottom: 20px;
}
.item-block h3{
    font-size: 27px;
    color: #2f618a;
}
.item-block h4{
    font-size: 22px;
    margin: 10px;
}
.item-block .blue-separator{
    margin: 20px auto;
}

#portfolio{
    background-color: #2f618a;
    padding: 60px;
}
h1.title-port{
    color: #f1f1f1;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    margin: 30px 0 100px 0;
    font-size: 30px;
}
.container-portfolio{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.item-portfolio .thumbnail{
    display: block;
    padding: 4px;
    width: 70%;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 4px;
    margin: 0 auto 20px auto;
}
.item-portfolio .thumbnail img {
    width: 100%;
    height: 100%;
    filter: grayscale(100%);
    transition: all 0.5s ease-in-out;
}

.item-portfolio .thumbnail img:hover + .thumbnail{
    border: 1px solid #000000;
}

.item-portfolio .thumbnail img:hover{
    filter: none;
}

footer{
    height: 150px;
    background-color: #333333;
    padding: 20px 0 10px 0;
}
footer a i{
    font-size: 25px;
    transition: all 0.5s ease-in-out;
}
footer a i:hover{
    font-size: 30px;
}
footer h5{
    color: #f1f1f1;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    margin-top: 60px;
    
}