*, ::before, ::after{
    margin: 0; padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
    overflow-x: hidden;
    font-style: 20px;
}
body{
    width: 100%;
    background-color: #2f618a;
    text-align: center;
    overflow-x: hidden;
}
ul, ol, li{
    list-style: none;
}
.blue-separator{
    width: 150px;
    height: 3px;
    background-color: #2f618a;
    margin: 0 auto;
}
.little-blue-separator{
    width: 70px;
    height: 3px;
    background-color: #2f618a;
    margin: 0 auto;
}

.white-separator{
    width: 150px;
    height: 3px;
    background-color: #f1f1f1;
    margin: 0 auto;
}
a{
    text-decoration: none;
    color: #f1f1f1;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
}
#me{
    display: block;
    width: 100%;
    height: 100%;
    padding: 50px;
    box-sizing: border-box;
}

.profil {
    width: 20%;
    border-radius: 50%;
    margin-top: 70px;
    height: 100%;
    border: 4px solid #f1f1f1;
    filter: drop-shadow(5px 5px 3px #000000);
    transition: all 0.5s ease-in-out;
    animation: RollIn 2s cubic-bezier(0.97, -0.39, 0, 1.38);
}
.profil:hover{
    transform: scale(1.1);
}
@keyframes RollIn {
    0% {
        margin-right: -1300px;
        transform: scale(0) rotate(0);
        
    }
    100% {
        transform: scale(1) rotate(-360deg);
        margin-right: 0;
    }
}


.name{
    font-family: 'Lato', sans-serif;
    color: #f1f1f1;
    text-transform: uppercase;
    margin-top: 60px;
    font-size: 1.4em;
    word-spacing: 5px;
}
.job{
    font-style: italic;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
    margin: 50px 0 80px 0;
}
.contact-links{
    margin: 70px 15px;
    opacity: 0;
    animation: SlideIn 1s 1.5s forwards cubic-bezier(0.97, -0.39, 0, 1.38);
}
.git, .linkedin, .twitter{
    display: inline-block;
    font-size: 2em;
    margin-left: 10px;
    transition: all 0.4s ease-in-out;
}
@keyframes SlideIn {
    0% {
        margin: 0 -500px 30px 70px;
        opacity: 0;
    }
    100% {
        margin: 0 70px 30px 70px;
        opacity: 1;
    }
}
.selector{
    position: absolute;
    width: 33.75px;
    height: 30px;
    opacity: 0;
    cursor: pointer;
}
.personnal-info{
    text-align: left;
    margin-top: 100px;
    margin-bottom: 80px;
    display: flex;
    width: 50%;
    box-sizing: border-box;
    justify-content: space-around;
    
}
/* .personnal-info i{
    margin-left: 30px;
} */
/* .personnal-info{
    animation: SlideLeftIn 2s cubic-bezier(0.97, -0.39, 0, 1.38);
} */
@keyframes SlideLeftIn {
    0% {
        margin-left: -400px;
    }
    100% {
        margin-left: 0;
    }
}
a.button{
    margin-top: 30px;
    animation: SlideUp 1.5s ease-in-out;
}
@keyframes SlideUp {
    0% {
        opacity: 0;
        padding: 100px;
        border-radius: 50%;
    }
    80% {
        border-radius: 5px;
        padding: 10px;
    }
    100% {
        padding: 20px;
        opacity: 1;
    }
}
.personnal-info > div{
    width: inherit;
    
}
.information{
    display: none;
    position: absolute;
    opacity: 0;
    font-family: 'Lato', sans-serif;
    background-color: #f1f1f1;
    width: 250px;
    margin-top: 30px;
    padding: 5px;
    border-radius: 4px;
    text-align: center;
    transition: all 0.4s ease-in-out;
}

@keyframes Up {
    0% {
        opacity: 0;
        transform: scale(0);
        top: 930px;
    }
    100% {
        opacity: 1;
        transform: scale(1);
        top: 916px;
    }
}



.personnal-info i{
    display: inline-block;
    font-size: 30px;
    color: #f1f1f1;
    transition: all 0.4s ease-in-out;
}
.personnal-info .selector:hover ~ i{
    color: #FB1;
}
.personnal-info .selector:hover ~ .information{
    display: block;
    
    animation: Pop 0.5s forwards cubic-bezier(0.97, -0.39, 0, 1.38);
}
.personnal-info .selector:checked ~ .information{
    display: block;
    opacity: 1;
}
@keyframes Pop {
    0% {
        transform: scale(-0.1);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}
.git:hover, .linkedin:hover, .twitter:hover{
    transform: scale(1.3);
}
.button{
    background-color: #2f618a;
    border: 1px solid #f1f1f1;
    border-radius: 5px;
    padding: 20px 20px;
    transition: all 0.4s ease-in-out;
}
.button:hover{
    background-color: #f1f1f1;
    color: #2f618a;
}
.navbar{
    position: fixed;
    top: 0;
    background-color: #2f618a;
    height: 60px;
    border-bottom: 1px solid #f1f1f1;
    width: 100%;
    z-index: 3;
    transition: all 0.4s ease-in-out;
}
#menu{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    margin: auto;
    transition: all 0.4s ease-in-out;
}
.link{
    /* height: 60px;
    width: 800px; */
    transition: all 0.4s ease-in-out;
    width: 20%;
    margin: 0 auto;
}
.link a{
    display: block;
    width: 100%;
    padding: 20px 0;
}
.link:hover{
    background-color: #f1f1f1;
    cursor: pointer;
}
.link:hover a{
    color: #2f618a;
}

.hamburger{
    display: none;
    position: absolute;
    width: 30px;
    cursor: pointer;
    top: 30%;
    left: 10px;
}
.hamburger span{
    display: block;
    width: 30px;
    height: 3px;
    background: #FB1;
    margin-bottom: 5px;
    border-radius: 6px;
    transition: all 0.4s ease;
}
.toggler{
    display: none;
}

#skills{
    background-color: #f1f1f1;
    width: 100vw;
    padding: 40px;
}
h1.competences{
    color: #2f618a;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
    margin: 30px 0 80px 0;
    font-size: 30px;
}
.skillsprogress{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.progressbar{
    width: 430px;
    height: 40px;
    background-color: lightgrey;
    border-radius: 3px;
    margin: 30px;
}
.progress{
    height: 40px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    font-family: 'Lato', sans-serif;
    font-size: 0.7em;
    color: #f1f1f1;
    padding: 13px 0;
    text-shadow: 1px 1px 1px #000000;
    transition: all 1s ease-in-out;
}

.s-blue{
    
    background-color: #2f618a;
}

#experience{
    height: auto;
    
    padding: 60px 60px 0 60px;
    box-sizing: border-box;
}
h1.exp{
    color: #f1f1f1;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
    margin: 30px 0 100px 0;
    font-size: 30px;
}
.timeline > li{
    margin-bottom: 60px;
    height: 200px;
}
.line-timeline{
    height: 1000px;
    width: 5px;
    position: absolute;
    left: 50%;
    background-color: #000000;
    margin: 0 auto;
}
.badge{
    width: 50px;
    height: 50px;
    background-color: #cccccc;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    margin-left: -22px;
    padding-top: 15px;
}
.badge i{
    font-size: 20px;
}
.timeline-panel-container{
    float: left;
    width: 35%;
    /* height: 200px; */
    background-color: #cccccc;
    border-radius: 7px;
    padding: 7px;
    font-family: 'Lato', sans-serif;
}
.timeline-panel-container-rev{
    float: right;
    width: 35%;
    /* height: 200px; */
    background-color: #cccccc;
    border-radius: 7px;
    padding: 7px;
    font-family: 'Lato', sans-serif;
}
.timeline-panel{
    box-sizing: border-box;
    margin: 10px;
}
h3{
    margin-bottom: 5px;
    font-size: 1.3em;
}
.time{
    color: #777777;
    margin-bottom: 7px;
}
.timeline-body{
    margin-top: 20px;
    font-size: 1em;
}
#education{
    background-color: #f1f1f1;
    padding: 45px;
}

h1.formation{
    color: #2f618a;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    margin: 30px 0 100px 0;
    font-size: 30px;
}
#education .container{
    font-family: 'Lato', sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.item{
    width: 40%;
    padding: 30px;
    margin-bottom: 40px;
    background-color: #c3c3c3;
    border-radius: 6px;
    border: 2px solid #b3b3b3;
}
.item-block{
    box-sizing: border-box;
}
.item-block h5{
    font-size: 0.9em;
    color: #777777;
    margin-bottom: 20px;
}
.item-block i{
    font-size: 30px;
    margin-bottom: 20px;
}
.item-block h3{
    font-size: 1.8em;
    color: #2f618a;
}
.item-block h4{
    font-size: 1.2em;
    margin: 10px;
}
.item-block .little-blue-separator{
    margin: 20px auto;
}
.item-block p{
    margin: 5px;
    font-size: 1em;
}

#portfolio{
    height: auto;
    padding: 60px;
}
h1.title-port{
    color: #f1f1f1;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    margin: 30px 0 80px 0;
    font-size: 30px;
}
.container-portfolio{
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
}

.item-portfolio{
    width: 100%;
    animation: Slider 5s infinite;
}

.item-portfolio .thumbnail{
    display: block;
    padding: 4px;
    width: 70%;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 4px;
    margin: 0 auto 20px auto;
}
.item-portfolio .thumbnail img {
    width: 100%;
    height: 100%;
    filter: grayscale(100%);
    transition: all 0.5s ease-in-out;
}

.item-portfolio .thumbnail img:hover + .thumbnail{
    border: 1px solid #000000;
}

.item-portfolio .thumbnail img:hover{
    filter: none;
}

footer{
    height: 100px;
    background-color: #333333;
    padding: 30px 0 10px 0;
}
footer a i{
    font-size: 25px;
    transition: all 0.5s ease-in-out;
}
footer a i:hover{
    transform: scale(1.3);
}
footer h5{
    color: #f1f1f1;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    margin-top: 10px;
    
}